@page
@model CalzadosLunghi.Pages.ParteZapatos.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>¿Está seguro que desea eliminar este componente?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParteZapato.Nombre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParteZapato.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ParteZapato.FormadoPorMultipleMateriales)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ParteZapato.FormadoPorMultipleMaterialesString)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="ParteZapato.ID" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
